#colorbox {
  .region-colorbox {
    padding: 2.5em 1.5em 1em;
    .region-title {
      color: $black;
      font-family: $helvetica-bold;
      margin: 0 0 .5em;
    }
  }
}

#cboxLoadedContent {
  @include border-radius (4px);
  border: none; 
}

#cboxClose {
  @include background-image-retina('../img/close-btn', 'png', 25px, 25px);
  background-repeat   : no-repeat;
	background-position : center center;
	background-color    : transparent;
	height: 25px;
	right: 1.5em;
	top: 1.25em;
	width: 25px;
}


@media all and (min-width: 768px) {
  
  #colorbox {
    .region-colorbox {
      padding: 3em 3.5em 1em;
    }
  }
  
}