/* "Skip to Main Content" link
  ---------------------------
  This link useful for both visually impaired people and those with mobility impairments
  who cannot use a mouse. http://www.webaim.org/techniques/css/invisiblecontent/
*/
#skip a:link, #skip a:hover, #skip a:visited {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }
#skip a:active, #skip a:focus {
  position: static;
  width: auto;
  height: auto; }
  